body {
    background-image: url(../images/DSC00860.jpg);
    background-color: #445533;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    max-width: 1200px;
    max-height: 150px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav {
    max-width: 1200px;
    max-height: 30px;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

article {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgba(68, 85, 51, 0.6);
    padding: 10px;
    color: #ffffff;
}

#cv {
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(68, 85, 51, 0.6);
    padding: 10px;
    color: #ffffff;
}

#gallery {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgba(68, 85, 51, 0.4)
    padding: 10px;
    color: #ffffff;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: fixed;
    float: left;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    right: 0;
}

.foto2 {
    float: left;
    margin: 7px 7px 7px 7px;
}

#text {
     max-width: 1200px;
     max-height: 30px;
     font-family: 'Josefin Sans', sans-serif;
     color: #ffffff;
     text-align: center;
     margin: 0 auto;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.cl-effect-6 a {
	margin: 0 10px;
	padding: 10px 20px;
}

.cl-effect-6 a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #ffffff;
	content: '';
	-webkit-transition: top 0.3s;
	-moz-transition: top 0.3s;
	transition: top 0.3s;
}

.cl-effect-6 a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background: #ffffff;
	content: '';
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cl-effect-6 a:hover::before {
	top: 100%;
	opacity: 1;
}

.cl-effect-6 a:hover::after {
	height: 100%;
} 